.App {
  text-align: center;
}

.schedule {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.slot {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f4f4f4; /* Color de fondo para los slots no resaltados */
  transition: background-color 0.3s ease; /* Transición suave de color */
}

.slot.current {
  background-color: #4caf50; /* Color de fondo para el slot actual */
  color: white; /* Color del texto para el slot actual */
}

.slot span {
  font-weight: bold;
}
